#topvente{
    margin: 5vh auto;
    width: 50vw;
    height: 40vh;
    background-color: #684fa3;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
}

#topvente  h2{
    padding: 25px;
    font-size: 1.8em;
    font-weight: 700;
    margin-top: 20px;
}

#phototop{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}



#topvente #phototop figure{
    width: 25%;
    margin: 30px 20px;

}
#titreproduit{
    text-decoration:underline
}